table{
    width: 100%;
    border-collapse: collapse;
}
th, td{
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}
tfoot > tr > td{
    border: 0px;
}

label{ font-weight: bold; }

input{ margin: 10px; }

a{
    margin: 8px;
    text-decoration: none;
}

h1{text-align: center;}

.fundo-claro{
    background-color: aquamarine;
}