a {
    text-decoration: none;
    color: black;
    display: inline-block;
    transition: 0.5s ease;
}

a:hover {
    transform: scale(1.2);
}

#formatacao {
    padding: 0px 50px;
}

#importante {
    color: blue;
}

#conteudo {
    background-color: rgb(202, 202, 202);
}
