body{
   /* margin: 0;
    padding: 0; */
}

header{
    background-color: #222;
    padding: 8px;
}

nav a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 8px;
}

nav a:hover{
    color: aqua;
}

table{
    width: 100%;
}

.border-collapse{
    border-collapse: collapse;
}

th, td{
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
}