table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

a {
    text-decoration: none;
    margin: 10px;
}

h2 {
    text-align: center;
}

input {
    margin: 10px;
}
