table{
    width: 100%;
    border-collapse: collapse; /* importante */
}

th, td{ /* importante */
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

.fundo-cinza{
    background-color: #eee;
}
