body {
    margin: 0;
}

main {
    width: 80%;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 5px 25px rgba(11, 11, 11, 0.75);
    background-color: whitesmoke;
}

h1, h2, h3 {color: #333;}

p {color: #555;}

li {list-style-image: url('icone.png');}

.block {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(250, 164, 164);
}

.inline {
    display: inline;
    background-color: rgb(181, 252, 252);
    width: 500px;
    height: 600px;
    margin: 20px;
    padding: 5px;
}

.inline-block span {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: calc(25% - 25px);
    text-align: center;
    background-color: lightgreen;
}

#mostrar {
    background-color: #eee;
    padding: 10px;
}

.none {display: none;}
